
html, body {
    width: 50%;
    margin: 0 auto;
    /* font-family: Arial, Helvetica, sans-serif; */
}
body {
    background-image: url("pexels-johannes-plenio-1103970.jpg");
    background-color: #cccccc;
  }

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 15px;
}

.listToDo{
    cursor: pointer;
    font-size: 20px;
}

.delete{
    align-self: flex-end;
    align : right;
}